##################
### .gitignore ###
##################

# sections are labeled as above

##################
###   Python   ###
##################
.python-version
__pycache__/
.py[cod]


##################
###     Go     ###
##################



##################
### TypeScript ###
##################
